<head>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="margin:0;padding:0;position:relative;min-height:100vh;">
<nav class="navbar navbar-expand-md sticky-top navbar-dark">
  <ul class="navbar-nav">
	  <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
		<a class="navbar-brand" routerLink="/">USC Films</a>
	  </li>
  </ul>
  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav" style="float:right">
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" routerLink="/" (click)="isMenuCollapsed = true">Home</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" routerLink="/mylist" (click)="isMenuCollapsed = true">My List</a>
      </li>  
    </ul><br/><br/>
	<ul class="navbar-nav ml-auto" style="padding:0;margin:0;float:left">
   <li class="nav-item">
  
    <ng-template #rt let-r="result" let-t="term">
   <div style="max-width:20rem;overflow:hidden;color:white">
  <img [src]="r['image']" class="mr-1" style="width: 3rem;">
  <ngb-highlight [result]="r.title" [term]="t"></ngb-highlight>
  </div>
</ng-template>
<input id="typeahead-template" onblur="this.value=''" placeholder="Search" (selectItem)="selectedItem($event)" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search" [resultTemplate]="rt"
  [inputFormatter]="formatter"/>
   </li>

 </ul>
  </div>  
</nav>

<div>
<router-outlet></router-outlet>
</div>

<div id="footer">
	Powered by TMDB, Developed by Priyanshi Vora<br><br>
</div>
</body>
