<br>
<div style="padding-bottom:10rem">
<app-trending-movies-carousel></app-trending-movies-carousel>
<app-movie-carousel-component name="Continue Watching"></app-movie-carousel-component>

<app-movie-carousel-component name="Popular Movies"></app-movie-carousel-component>
<app-movie-carousel-component name="Top Rated Movies"></app-movie-carousel-component>
<app-movie-carousel-component name="Trending Movies"></app-movie-carousel-component>

<app-movie-carousel-component name="Popular TV Shows"></app-movie-carousel-component>
<app-movie-carousel-component name="Top Rated TV Shows"></app-movie-carousel-component>
<app-movie-carousel-component name="Trending TV Shows"></app-movie-carousel-component>
</div>



